main{
    .tituloerror{
    font-size: xx-large;
    text-align: center;
    margin-top: 3%;
    }
    .error{
    text-align: center;
    }
    section{
        .fotoerror{
           
            }
    }
}
