*{
    padding: 0;
    margin: 0;
    font-family: 'Formula1 Display', sans-serif;
    color: #fff;
    text-decoration: none;
}
@font-face{
    font-family: 'Formula1 Display';
    src: url('../fonts/formula1.ttf') format('truetype')
}
.tituloerror{
    font-size: xx-large;
    text-align: center;
    margin-top: 3%;
}
.error{
    text-align: center;
}
.fotoerror{
    margin-top: -20%;
}