main{
    padding: 50px 0;
    .boton{
        border-style: none;
        background-image: url(../img/src/Monaco\,\ Monaco.png );
        background-size: 50% 50%;
        background: map-get($botones, boton-primario);
        border-radius: $borde-radio;
        color: $color-texto;
        @include botones(100%, 10px 20px);
        box-shadow: $sombra;
    }
    .foto{
        width: 100%;
    }
    .btnuno{
        background-color: map-get($botones, boton-secundario);
        border-radius: $borde-radio;
        border-style: none;
        @include botones(50%, 10px);
        margin-left: 25%;
    }
    .btndos{
        background-color: map-get($botones, boton-terc);
        border-radius: $borde-radio;
        border-style: none;
        font-size: small;
        @include botones(30%, 10px);
        margin-left: 35%;
    }
    .mb-3{
        color: #000000;
        justify-items: center;
    }
    .image-container {
        position: relative;
        display: inline-block;
    }
    .button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: map-get($botones, boton-primario);
        color: $color-texto;
        text-decoration: none;
        border-radius: 20px;
        @include botones(80%, 10px);
        text-align: center;
        font-size: x-large;
    }
    .marg-ccto{
        margin-top: 25%;
    }
    .circuitos{
        display: block;
        margin: auto;
    }
    button.info{
        background: map-get($botones, boton-primario)giu;
        border-radius: $borde-radio;
        padding: 20px;
        border-style: none;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    section div div{
        button a{
        text-decoration: none;
        color: $color-texto;
    }
        label.form-check-label{
        font-size: small;
    }
        input{
        size: 20px;
    }
    }
}