$color-header:#e00700;
$color-texto: #fff;
$color-fd-eq: linear-gradient(100deg, #020220 20%, #000000 100%);
$color-inicio: linear-gradient(180deg, #15151E 0%, #000000 100%);
$borde-radio:25px;
$sombra: 1px 3px 4px rgba($color: #000000, $alpha: 0.5);

